<h1>Editing Presentation</h1>

<%= render 'form', presentation: @presentation %>

<%= link_to 'Show', @presentation , class:"btn btn-primary"%>
<%= link_to 'Back', presentations_path, class:"btn btn-secondary"%>
